{% extends "TMDCoreBundle::index.html.twig" %}

{% block title %}
    Election_statut
{% endblock %}



{% block body %}

    <div id="hideheaderRow" class="row" style="margin-top: -8px;">
        <div class="col-md-11" style="background-color: white;position: relative;z-index: 8;margin-bottom: 10px;padding-right: 0px;">
            <div class="titreFenetre" >
                <h3 style="margin-bottom: 1px;">Edition Statut Election </h3>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 5px;margin-left: -1px;">
        {#flash tag 11#}
        <div class="row">
            <div class="col-md-12">
                {% for message in app.session.flashbag.get('ConfirmMissouspli') %}
                    <div class="row" id="saisiCarteConfirm">
                        <div class="col-md-10"  style="background-color: #BFD626;margin: 18px;border-radius: 9px;">
                            <div class="alert alert-notice" style="padding-bottom: 0px;font-size: 1.2em;">
                                <p>Confirmation statut "Mis sous pli" du KUB: {{ message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-12">
                {% for message in app.session.flashbag.get('NOConfirmMissouspli') %}
                    <div class="row" id="saisiCarteConfirm">
                        <div class="col-md-10"  style="background-color: #FFE2E5;margin: 18px;border-radius: 9px;">
                            <div class="alert alert-notice" style="padding-bottom: 0px;color: white;font-size: 1.2em;">
                                <p>Pb d'enregistrment du KUB: {{ message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {#flash tag 12#}
        <div class="row">
            <div class="col-md-12">
                {% for message in app.session.flashbag.get('ConfirmAssemblage') %}
                    <div class="row" id="saisiCarteConfirm">
                        <div class="col-md-10"  style="background-color: #BFD626;margin: 18px;border-radius: 9px;">
                            <div class="alert alert-notice" style="padding-bottom: 0px;font-size: 1.2em;">
                                <p>Confirmation statut "Assemblage" du KUB: {{ message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-12">
                {% for message in app.session.flashbag.get('NOConfirmAssemblage') %}
                    <div class="row" id="saisiCarteConfirm">
                        <div class="col-md-10"  style="background-color: #FFE2E5;margin: 18px;border-radius: 9px;">
                            <div class="alert alert-notice" style="padding-bottom: 0px;color: white;font-size: 1.2em;">
                                <p>Pb d'enregistrment du KUB: {{ message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {#flash tag 13#}
        <div class="row">
            <div class="col-md-12">
                {% for message in app.session.flashbag.get('ConfirmAutreetape') %}
                    <div class="row" id="saisiCarteConfirm">
                        <div class="col-md-10"  style="background-color: #BFD626;margin: 18px;border-radius: 9px;">
                            <div class="alert alert-notice" style="padding-bottom: 0px;font-size: 1.2em;">
                                <p>Confirmation statut "Autre etape" du KUB: {{ message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-12">
                {% for message in app.session.flashbag.get('NOConfirmAutreetape') %}
                    <div class="row" id="saisiCarteConfirm">
                        <div class="col-md-10"  style="background-color: #FFE2E5;margin: 18px;border-radius: 9px;">
                            <div class="alert alert-notice" style="padding-bottom: 0px;color: white;font-size: 1.2em;">
                                <p>Pb d'enregistrment du KUB: {{ message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {#flash tag 2#}
        <div class="row">
            <div class="col-md-12">
                {% for message in app.session.flashbag.get('ConfirmValidationcommande') %}
                    <div class="row" id="saisiCarteConfirm">
                        <div class="col-md-10"  style="background-color: #BFD626;margin: 18px;border-radius: 9px;">
                            <div class="alert alert-notice" style="padding-bottom: 0px;font-size: 1.2em;">
                                <p>Confirmation statut "Validation commande" du KUB: {{ message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-12">
                {% for message in app.session.flashbag.get('NOConfirmValidationcommande') %}
                    <div class="row" id="saisiCarteConfirm">
                        <div class="col-md-10"  style="background-color: #FFE2E5;margin: 18px;border-radius: 9px;">
                            <div class="alert alert-notice" style="padding-bottom: 0px;color: white;font-size: 1.2em;">
                                <p>Pb d'enregistrment du KUB: {{ message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {#flash erreur#}
        <div class="row">
            <div class="col-md-12">
                {% for message in app.session.flashbag.get('PbStatutidentique') %}
                    <div class="row" id="saisiCarteConfirm">
                        <div class="col-md-10"  style="background-color: #d34026;margin: 18px;border-radius: 9px;">
                            <div class="alert alert-notice" style="padding-bottom: 0px;color: white;font-size: 1.2em;">
                                <p>Statut déjà enregistré pour le KUB: {{ message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for message in app.session.flashbag.get('PbStatutsupp') %}
                    <div class="row" id="saisiCarteConfirm">
                        <div class="col-md-10"  style="background-color: #d34026;margin: 18px;border-radius: 9px;">
                            <div class="alert alert-notice" style="padding-bottom: 0px;color: white;font-size: 1.2em;">
                                <p>Le statut precedent n'est pas enregistré pour le KUB: {{ message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for message in app.session.flashbag.get('PbBlexistepas') %}
                    <div class="row" id="saisiCarteConfirm">
                        <div class="col-md-10"  style="background-color: #d34026;margin: 18px;border-radius: 9px;">
                            <div class="alert alert-notice" style="padding-bottom: 0px;color: white;font-size: 1.2em;">
                                <p>KUB: {{ message }} inexistant !!</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row" style="margin-top: 8px;">
            <div class="col-md-10">
                <label id="StatutR11" class="radio-inline" {% if statut == 11 %}style="color: red;"{% endif %}>
                    <input type="radio" name="selectStatut" id="StatutRadio11" value="18" {% if statut == 18 %}checked="checked" {% endif %}> Mise sous pli
                </label>
                <label id="StatutR12" class="radio-inline" {% if statut == 12 %}style="color: red;"{% endif %}>
                    <input type="radio" name="selectStatut" id="StatutRadio12" value="19" {% if statut == 19 %}checked="checked"{% endif %}> Collage
                </label>
                <label id="StatutR2" class="radio-inline" {% if statut == 2 %}style="color: red;"{% endif %}>
                    <input type="radio" name="selectStatut" id="StatutRadio2" value="2" {% if statut == 2 %}checked="checked"{% endif %}>  Expedition
                </label>
           </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-3" style="margin-top: 20px;">
                <div class="form-group">
                    <label for="entered_bl">N° BL</label>
                    <input name="numCmd" type="text" style="width: 150px;" onchange="sendStatut()" class="form-control"  id="entered_bl" placeholder="cmd n°">
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascriptsPlus %}

    <script>
        $(document).ready(function(){

            document.getElementById("entered_bl").focus();


        })

        var indice=[11,12,2]
        $('input:radio[name = selectStatut]').change(function() {
            indice.forEach(function(ind)
            {
                document.getElementById("StatutR".concat(ind)).style.color = "";
            });
        })





        function sendStatut() {
            var cmd = $('#entered_bl').val();
            var statut = $('input[name = selectStatut]:checked').val();
            var temp = '{{ path('tmd_appli_editStatut' ,{ 'bl': 'varBl', 'statut': 'varStatut'})|escape('js') }}';
            temp = temp.replace('varBl', cmd);
            temp = temp.replace('varStatut', statut);
            window.location.href = temp;
        }
    </script>

{% endblock %}