{% extends "TMDCoreBundle::index.html.twig" %}

{% block title %}
    Election
{% endblock %}



{% block body %}



    <div id="hideheaderRow" class="row" style="margin-top: -8px;">
        <div class="col-md-11" style="background-color: white;position: relative;z-index: 8;margin-bottom: 10px;padding-right: 0px;">
            <div class="titreFenetre" >
                <h3 style="margin-bottom: 1px;">Suivi Election - {% if (dep == 2) %} Préfécture de l'Aisne {% endif %}{% if (dep == 10) %} Préfécture de l'Aube {% endif %}{% if (dep == 39) %} Préfécture du Jura {% endif %}</h3>
                <div class="btn-group" role="group">
                    {% if (dep == 2) %}
                        <button type="button" class="btn btn-default" ><a href="{{ path('tmd_appli_verifEletion',  {'statut': statut,  'dep':10}) }}" >Aube</a></button>
                        <button type="button" class="btn btn-default" ><a href="{{ path('tmd_appli_verifEletion',  {'statut': statut,  'dep':39}) }}" >Jura</a></button>
                    {% elseif (dep == 10) %}
                        <button type="button" class="btn btn-default" ><a href="{{ path('tmd_appli_verifEletion',  {'statut': statut,  'dep':2}) }}" >Aisne</a></button>
                        <button type="button" class="btn btn-default" ><a href="{{ path('tmd_appli_verifEletion',  {'statut': statut,  'dep':39}) }}" >Jura</a></button>
                    {% else %}
                    <button type="button" class="btn btn-default" ><a href="{{ path('tmd_appli_verifEletion',  {'statut': statut,  'dep':2}) }}" >Aisne</a></button>
                    <button type="button" class="btn btn-default" ><a href="{{ path('tmd_appli_verifEletion',  {'statut': statut,  'dep':10}) }}" >Aube</a></button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li  {% if statut == 18 %}class="active"{% endif %}><a href="{{ path('tmd_appli_verifEletion',  {'statut': 18 , 'jour': jour,'dep': dep}) }}" aria-controls="home" role="tab" >Mise sous pli</a></li>
        <li {% if statut == 19 %}class="active"{% endif %}><a href="{{ path('tmd_appli_verifEletion',  {'statut': 19, 'jour': jour,'dep': dep}) }}" aria-controls="profile" role="tab" >Collage</a></li>
        <li {% if statut == 2 %}class="active"{% endif %}><a href="{{ path('tmd_appli_verifEletion',  {'statut': 2, 'jour': jour,'dep': dep}) }}" aria-controls="recherche" role="tab" >Expédition</a></li>
    </ul>

    <span id="theStatut" style="display: none;">{{ statut }}</span>


{#                <div class="row" style="position: relative;">#}
{#                   <div class="col-md-12" style="position: absolute;text-align: end;margin-top: -3px;z-index: 2;">#}
{#                       <table>#}
{#                           <tr>#}
{#                           {% for key, value in listJour %}#}
{#                            <td><a href="{{ path('tmd_appli_verifEletion',  {'statut': statut, 'jour': key}) }}" {% if jour == key %}style="color: #DC3912;"{% endif %}>{{ value |localizeddate('none', 'none', null, null, 'EEE dd') }} </a></td>#}
{#                           {% endfor %}#}
{#                           </tr>#}
{#                       </table>#}
{#                        <a href="{{ path('tmd_appli_verifEletion',  {'statut': statut, 'jour': 1}) }}" style="margin-left: 20px;{% if jour == 1 %}color: #DC3912;{% endif %}">Mardi 14</a>#}
{#                        <a href="{{ path('tmd_appli_verifEletion',  {'statut': statut, 'jour': 2}) }}" style="margin-left: 20px;{% if jour == 2 %}color: #DC3912;{% endif %}">Mercredi 15</a>#}
{#                        <a href="{{ path('tmd_appli_verifEletion',  {'statut': statut, 'jour': 3}) }}" style="margin-left: 20px;{% if jour == 3 %}color: #DC3912;{% endif %}">Jeudi 16</a>#}
{#                        <a href="{{ path('tmd_appli_verifEletion',  {'statut': statut, 'jour': 4}) }}" style="margin-left: 20px;{% if jour == 4 %}color: #DC3912;{% endif %}">Vendredi 17</a>#}
{#                        <a href="{{ path('tmd_appli_verifEletion',  {'statut': statut, 'jour': 5}) }}" style="margin-left: 20px;{% if jour == 5 %}color: #DC3912;{% endif %}">Samedi 18</a>#}
{#                        <a href="{{ path('tmd_appli_verifEletion',  {'statut': statut, 'jour': 6}) }}" style="margin-left: 20px;{% if jour == 6 %}color: #DC3912;{% endif %}">Lundi 20</a>#}
{#                        <a href="{{ path('tmd_appli_verifEletion',  {'statut': statut, 'jour': 7}) }}" style="margin-left: 20px;{% if jour == 7 %}color: #DC3912;{% endif %}">Mardi 21</a>#}
{#                        <a href="{{ path('tmd_appli_verifEletion',  {'statut': statut, 'jour': 8}) }}" style="margin-left: 20px;{% if jour == 8 %}color: #DC3912;{% endif %}">Mercredi 22</a>#}
{#                    </div>#}
{#                </div>#}

                                    <div role="tabpanel" class="tab-pane active" id="home">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="row" style="margin-left: 0px;margin-top: 30px;">
                                                    <div class="col-md-12" style="border: 2px solid #504A62;border-radius: 15px;padding: 10px;width: 833px;position: relative;">
                                                        <div style="position: absolute; top:-9px;left: 11px;background-color: white;padding: 0 4px 0 4px;">
                                                            <p style="font-weight: bold;font-size: 1.1em;">Production totale</p>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <p style="margin-top: 163px;margin-left: 103px;z-index: 2;position: absolute;font-size: 1.2em;">Par Kub:</p>
                                                                 <div id="div_piechart" ></div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <p style="margin-top: 163px;margin-left: 103px;z-index: 2;position: absolute;font-size: 1.2em;">Par électeur:</p>
                                                                <div id="div_piechart2" ></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="margin-top: 10px">
                                                   Liste des plis au statut {{ libelleStatut }}
                                                </button>
                                                <div class="collapse" id="collapseExample" style="margin-top: 15px">
                                                    <div class="well" style="border: 2px solid #504A62;border-radius: 15px;padding: 10px;width: 833px;position: relative;">
                                                        <table class="table compact" id="tableElection">
                                                            <thead>
                                                            <th>Date Fichier</th>
                                                            <th>Fichier</th>
                                                            <th>numBl</th>
                                                            <th>Destinataire</th>
                                                            <th>Rue</th>
                                                            <th>ad2</th>
                                                            <th>Statut</th>
                                                            <th>date de Prod</th>
                                                            <th>ModExp</th>
                                                            </thead>
                                                            <tbody>
                                                            {%  for tr in listProduit %}
                                                                {% if (tr.idStatut == statut) %}
                                                                <tr>
                                                                    <td>{{ tr.dateFile | date('d-m-Y') }}</td>
                                                                    <td>{{ tr.filename }}</td>
                                                                    <td>{{ tr[0].numCmdeClient }}</td>
                                                                    <td>{{ tr.destinataire }}</td>
                                                                    <td>{{ tr.destRue }}</td>
                                                                    <td>{{ tr.destAd2 }}</td>
                                                                    <td>{{ tr.statut }}</td>
                                                                    <td>{{ tr[0].dateProduction |date('d-m-Y')  }}</td>
                                                                    <td>{{ tr[0].modexp }}</td>
                                                                </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-left: 0px;margin-top: 30px;">
                                                    <div class="col-md-7" style="border: 2px solid #504A62;border-radius: 15px;padding: 17px;width: 833px;position: relative;">
                                                        <div style="position: absolute; top:-9px;left: 11px;background-color: white;padding: 0 4px 0 4px;">
                                                            <p style="font-weight: bold;font-size: 1.1em;">Production journalière</p>
                                                        </div>
                                                        <div id="div_line"></div>
                                                        <div id="div_chart"></div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-2" style="margin-top: 30px">
                                                <div class="btn-group-vertical" role="group">
                                                    {% for key, value in listJour %}
                                                        <button type="button" class="btn btn-default" ><a href="{{ path('tmd_appli_verifEletion',  {'statut': statut, 'jour': key, 'dep':dep}) }}" {% if jour == key %}style="color: #DC3912;"{% endif %}>{{ value |localizeddate('none', 'none', null, null, 'EEE dd ') }} </a></button>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>



{% endblock %}

{% block javascriptsPlus %}

    <script type="text/javascript">

        var statut = $('#theStatut').val();
        if (statut == 0){
            statut = 18
        }

        {{ gc_draw([piechart,piechart2, line , chart],['div_piechart','div_piechart2', 'div_line', 'div_chart']) }}


        {#{{ gc_draw([piechart[11],piechart2[11], line[11][1]], ['div_piechart_11','div_piechart2_11', 'div_line_11']) }}#}
    </script>


{% endblock %}