{% extends "TMDCoreBundle::index.html.twig" %}

{% block title %}
    Consultation Sejer
{% endblock %}




{% block body %}
    <div>
        <h3>Consultation SEJER</h3>
        <div style="max-width: 130px;">
            {% if logoAppli is defined and logoAppli['appliImage'] != "" %}
                <img  class="img-responsive" src="data:image/jpg;base64,{{ logoAppli['appliImage'] }}" style="padding: 0;margin-top: -13px;">

            {% endif %}
        </div>
    </div>

    <div  style="margin-left: 1px;margin-top: 30px">
        <label style="font-weight: 700;margin-right: 14px;">Consultation commande
       <input  id="inputBl" class="form-control" onchange="searchBl()" type="text" placeholder="n° bl">
        </label>
    </div>
    {% if bl !="" %}
    <div class="row>" style="margin-top: 50px">
        <div class="col-md-4">
            {% if ouvrirCarton != false %}
                <div  class="col-md-12" >
                    <div><i class="fas fa-exclamation-triangle" style="font-size:40px;color: #D34026;display: flex;justify-content: center"></i></div>
                    <h3 style="color : #D34026;font-size: 40px;text-align: center" >COLIS A OUVRIR</h3>
                </div>
            {% else %}
                <div  class="col-md-12"  >
                    <h3 style="color : darkgreen;font-size: 40px;text-align: center"  >COLIS OK</h3>
                </div>
            {% endif %}
        </div>
        <div class="col-md-8">
                <table class="table table-striped table-bordered" id="tableArticle">
                <thead>
                <tr>
                    <th>code Article</th>
                    <th>Libellé</th>
                    <th>quantité</th>
                </tr>
                </thead>
                <tbody>
                {% for art in countArticle %}
                <tr>
                    <td>{{ art['codearticle'] }}</td>
                    <td>{{ art['libelle'] }}</td>
                    <td>{{ art['quantite'] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block javascriptsPlus %}
<script>

    function searchBl() {
        var bl = document.getElementById('inputBl').value
        var url = "{{ path('tmd_appli_sejer', {"bl": "numbl"}) }}"
        url = url.replace("numbl", bl)
        console.log('mon url: ', url)
        window.location.href = url;
    }
</script>
<script>
    window.onload=function()
    {
        document.getElementById('inputBl').focus()
    }

</script>
{% endblock %}