{% extends "TMDCoreBundle::index.html.twig" %}



{% block body %}
{#    {% block stylesheets %}#}

{#        #}{#<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">#}
{#        #}{#<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">#}
{#        <link rel="stylesheet" href="{{ asset('jquery-ui-1.12.1/jquery-ui.theme.min.css') }}">#}
{#        <link rel="stylesheet" href="{{ asset('bootstrap-3.3.7/css/bootstrap.min.css') }}">#}
{#        <link rel="stylesheet" href="{{ asset('bootstrap-4.5.0/css/bootstrap.min.css') }}">#}
{#        <link rel="stylesheet" href="{{ asset('bootstrap-4.5.0/js/bootstrap.min.js') }}">#}

{#        <link rel="stylesheet" href="{{ asset('css/fullcalendar.css') }}">#}
{#        <link rel="stylesheet" href="{{ asset('Multi-level-Vertical-Accordion/src/lazeemenu.css') }}">#}
{#        <link rel="stylesheet" href="{{ asset('style.css') }}">#}
{#        <link rel="stylesheet" href="{{ asset('newstyle.css') }}">#}
{#        <link rel="stylesheet" href="{{ asset('rangeDatePicker/jquery-date-range-picker-master/dist/daterangepicker.css') }}">#}
{#        <link rel="stylesheet" href="{{ asset('datepicker.css') }}">#}
{#        <link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css">#}

{#    {% endblock %}#}
    <div class="row title">

        <div class="titreFenetre">
            <h3>Modification du statut d'une commande</h3>

        </div>

        <div class="row">
            <div class="col-md-7">
                <label>Choix du client</label>
                <select class="form-control" onchange="location = this.options[this.selectedIndex].value;">

                    {% for client in clients %}

                        <option value="{{ path('tmd_config_gestioncmdClient', {'idClient': client.idclient})}}">{{ client.nomClient }}</option>
                    {% endfor %}
                </select>

            </div>
        </div>
        {%  if idClient is defined  %}

        <div class="row">
            <div class="col-md-7">
                <label>Choix de l'opération</label>
                <select class="form-control">
                    {% for ope in listOpe %}
                        {% dump(ope) %}
                     <option value="{{ path('tmd_config_gestionclientOpe', {'idClient': idClient, 'idappli': ope.idappli.idappli}) }}">{{ ope.appliname }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}

{#            <div class="row">#}
{#                <div class="panel panel-default tableautrackings"style="width: 800px; margin-left: 15px;">#}
{#                    <!-- Default panel contents -->#}
{#                    <div class="panel-heading">Commandes en cours pour {{ client.nomclient }}</div>#}

{#                    {% for tracking in trackings %}#}
{#                        <row class="lignetracking">#}
{#                            <div class="col_md_7 reftracking" id="{{ tracking.numligne }}" style="font-size: 14px;" >{{ tracking.refclient }}</div>#}
{#                            <div class="col_md_5">#}
{#                                <p class="blockbutton">#}
{#                                    <button class="btn btn-primary boutons" onclick="showdiv()" data-toggle="collapse" href="#collapseExample{{ tracking.numligne }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ tracking.numligne }}">#}
{#                                        voir#}
{#                                    </button>#}
{#                                    <button class="btn btn-warning boutons" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">#}
{#                                        modifier#}
{#                                    </button>#}
{#                                    <button class="btn btn-danger boutons" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">#}
{#                                        Annuler#}
{#                                    </button>#}
{#                                </p>#}
{#                            </div>#}

{#                        </row>#}

{#                        <table class="table tableautrackings">#}
{#                            <thead>#}
{#                            <tr>#}
{#                                <th>Numéro de commande</th>#}
{#                                <th>Etat de la commande</th>#}
{#                                <th></th>#}
{#                                <th></th>#}

{#                            </tr>#}
{#                            </thead>#}
{#                            <tbody>#}
{#                            {% for tracking in trackings %}#}
{#                                <tr>#}
{#                                    <td>{{ tracking.refclient }}</td>#}
{#                                    <td>{{ tracking.statut }}</td>#}
{#                                    <td class="collonneButton">#}
{#                                        <button type="button" class="btn btn-primary boutons buttonView" data-toggle="modal" data-target="#viewModal{{ tracking.numligne }}">#}
{#                                            voir#}
{#                                       </button>#}
{#                                    </td>#}
{#                                    <td class="collonneButton">#}
{#                                      <a type="button"  href="{{ path('tmd_config_editTracking', {'numligne': tracking.numligne}) }}" class="btn btn-primary boutons buttonModif" >#}
{#                                            Modifier#}
{#                                        </a>#}
{#                                    </td>#}
{#                                    <td class="collonneButton">#}
{#                                        <button type="button" class="btn btn-danger boutons buttondelete" data-toggle="modal" data-target="#deleteModal{{ tracking.numligne }}">#}
{#                                            Annuler#}
{#                                        </button>#}
{#                                    </td>#}
{#                                    <td>#}

{#                                    </td>#}
{#                                </tr>#}
{#                                <!--- Modal Voir -->#}
{#                                <div class="modal fade popup" id="viewModal{{ tracking.numligne }}" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel{{ tracking.numligne }}" aria-hidden="true">#}
{#                                    <div class="modal-dialog">#}
{#                                        <div class="modal-content">#}
{#                                            <div class="modal-header">#}
{#                                                <h5 class="modal-title" id="viewModalLabel{{ tracking.numligne }}">Commande n°{{ tracking.refclient }}</h5>#}
{#                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                                    <span aria-hidden="true">&times;</span>#}
{#                                                </button>#}
{#                                            </div>#}
{#                                            <div class="modal-body">#}
{#                                                <p>Date de la commande: {% if tracking.dateCmde.date != 0 %}{{ tracking.dateCmde.date | date('d/m/Y') }} {% else %} -- {%  endif %}</p>#}
{#                                                <p>Etat de la commande : {{ tracking.statut }}</p>#}
{#                                            </div>#}
{#                                            <div class="modal-footer">#}
{#                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>#}

{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!--- Modal Modifier -->#}
{#                                <div class="modal fade popup " id="deleteModal{{ tracking.numligne }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ tracking.numligne }}" aria-hidden="true">#}
{#                                    <div class="modal-dialog">#}
{#                                        <div class="modal-content deleteModal">#}
{#                                            <div class="modal-header">#}
{#                                                <h5 class="modal-title modal-title-deleteModal" id="deleteModalLabel{{ tracking.numligne }}">Attention</h5>#}
{#                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                                    <span aria-hidden="true">&times;</span>#}
{#                                                </button>#}
{#                                            </div>#}
{#                                            <div class="modal-body">#}
{#                                                    <div class="titreFenetre">#}
{#                                                        <h3>Voulez vous vraiment annuler la commande ?</h3>#}
{#                                                    </div>#}

{#                                           </div>#}
{#                                            <div class="modal-footer">#}
{#                                                <button type="button" class="btn btn-primary">Oui</button>#}
{#                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>#}

{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                            </tbody>#}
{#                        </table>#}
{#                        <div class="Page navigation example d-flex justify-content-center">{{ knp_pagination_render(trackings) }}</div>#}




{#                </div>#}
{#            </div>#}
{#        {%  endif  %}#}
{#    </div>#}


{#    <div class="collapse" id="collapseExample{{ tracking.numligne }}">#}
{#        <div class="card card-body">#}



{#        </div>#}
    </div>

{%  endblock %}
{% block javascript %}
{# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="{{ asset('jquery-3.5.1/jquery-3.5.1.min.js')}}"></script>
    <script src="{{ asset('bootstrap-4.5.0/js/bootstrap.min.js') }}"></script>
{%  endblock %}
{% block javascriptsPlus %}
    <script>
        function showdiv() {
            let monButton = event.target;
            let monId = monButton.attributes[3].nodeValue;
            console.log('mon id', monId);
            let maDiv = document.querySelector(monId);
            if (maDiv.classList.contains('show')){
                maDiv.classList.remove('show');
            } else {
                maDiv.classList.add('show');
            }

        }
    </script>
{% endblock %}
