<table class="table table-bordered table-striped tableSynthese " style="text-align: center;">
    <tr class="active">
        <th colspan="4" style="text-align: center;padding-bottom: 0px;">Fichiers réceptionnés</th>
        <th colspan="{{ nbColonne +4 }}" style="text-align: center;padding-bottom: 0px;">Production</th>
        <th style="text-align: center;padding-bottom: 0px;">Sites</th>
        <th style="text-align: center;padding-bottom: 0px;" colspan="{{ TypeTransport|length }}">Transport</th>
    </tr>
    <tr style="background-color: #DFD8DF;border-bottom: 2px solid #504A62;font-size: .9em;">
        <th style="text-align: center;padding-bottom: 0px;">Date Fichier</th>
        <th style="text-align: center;padding-bottom: 0px;">Nom Fichier</th>
        <th style="text-align: center;padding-bottom: 0px;">Total Cdes</th>
        <th style="text-align: center;padding-bottom: 0px;">Bl créés</th>
        <th style="text-align: center;padding-bottom: 0px;">Bl produits</th>
        <th style="text-align: center;padding-bottom: 0px;">Attente PROD</th>
        {% if retention == 1 %}
            <th style="text-align: center;padding-bottom: 0px;">Retention</th>
        {% endif %}
        {% if tagArticle == 1 %}
            <th style="text-align: center;padding-bottom: 0px;">Articles</th>
        {% endif %}
        {% if Colrecla == 1 %}
            <th style="text-align: center;padding-bottom: 0px;">Cmd Recla</th>
        {% endif %}

        <th style="text-align: center;padding-bottom: 0px;">First PROD</th>
        <th style="text-align: center;padding-bottom: 0px;">Last PROD</th>
        <th style="text-align: center;padding-bottom: 0px;"></th>
        {%  for trans in TypeTransport  %}

            <th style="text-align: center;padding-bottom: 0px;">{{ trans['typeTransport'] }}</th>
        {% endfor %}
    </tr>

    {% for file in files %}
        <tr style="padding: 0 5px 0 9px;">
            <td>{{ file['dateFile']|date("d/m/Y") }}</td>
            <td> <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilFile tableToggleButton" data-toggle="collapse" style="color: #333;" >
                    {{ file['filename']   }}</a>

            </td>
            {%  if  nbBlbyfile[file['idfile']]['nbBl'] is defined and nbBlByFileProd[file['idfile']]['totProd'] is defined and nbTrByFile[file['idfile']] == nbBlbyfile[file['idfile']]['nbBl'] and nbBlbyfile[file['idfile']]['nbBl'] == nbBlByFileProd[file['idfile']]['totProd']  %}
                <td colspan="3" style="vertical-align: inherit;"><div style="background-color: #b3d6c2;font-size: 1.2em;">{{ nbBlByFileProd[file['idfile']]['totProd'] }}</div></td>
                <td></td>

            {% else %}
                {% if nbBlbyfile[file['idfile']]['nbBl'] is defined %}
                    {% if nbTrByFile[file['idfile']] != nbBlbyfile[file['idfile']]['nbBl'] %}
                        <td style="vertical-align: inherit;font-size: 1.2em;">{{ nbTrByFile[file['idfile']] }}</td>
                        <td {% if nbBlbyfile[file['idfile']]['nbBl'] is defined %}{% if nbTrByFile[file['idfile']] != nbBlbyfile[file['idfile']]['nbBl'] %} {% if nbTrByFile[file['idfile']]|number_format < nbBlbyfile[file['idfile']]['nbBl'] %} class="danger" {% endif %} {% endif %}{% endif %}style="vertical-align: inherit;font-size: 1.2em;">{% if nbBlbyfile[file['idfile']]['nbBl'] is defined %}{{ nbBlbyfile[file['idfile']]['nbBl'] }}{% else %}{% endif %}</td>
                    {% else %}
                        <td colspan="2" style="vertical-align: inherit;"><div style="background-color: #ffe2e5;font-size: 1.2em;">{{ nbTrByFile[file['idfile']] }}</div></td>
                    {% endif %}
                {% else %}
                    <td style="vertical-align: inherit;font-size: 1.2em;">{{ nbTrByFile[file['idfile']] }}</td>
                    <td {% if nbBlbyfile[file['idfile']]['nbBl'] is defined %}
                            {% if nbTrByFile[file['idfile']] != nbBlbyfile[file['idfile']]['nbBl'] %}  class="danger"
                            {% endif %}
                        {% endif %}
                            style="vertical-align: inherit;font-size: 1.2em;">
                        {% if nbBlbyfile[file['idfile']]['nbBl'] is defined %}
                            {{ nbBlbyfile[file['idfile']]['nbBl'] }}
                        {% else %}
                        {% endif %}</td>
                {% endif %}
                <td  style="vertical-align: inherit;font-size: 1.2em;">{% if nbBlByFileProd[file['idfile']]['totProd'] is defined %}{{ nbBlByFileProd[file['idfile']]['totProd'] }}{% endif %}</td>
                <td >
                    {% if nbBlByFileProd[file['idfile']]['totProd'] is defined %}
                        {%  if   (nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd']) != 0 %}
                            <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class=" ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                {% if retention == 1 %}
                                    {% if nbBlbyfile[file['idfile']]['flagXport'] is defined %}
                                        {% if  (nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] - nbBlbyfile[file['idfile']]['flagXport']) == 0 %}
                                        {% else %}
                                            {{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] - nbBlbyfile[file['idfile']]['flagXport'] }}
                                        {% endif %}
                                    {% else %}
                                        {% if ( nbTrByFile[file['idfile']] - nbBlbyfile[file['idfile']]['nbBl']) >= 0 %}
                                            {% if  nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] == 0 %}
                                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                                    {{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] }}</a>
                                            {% else %}
                                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                                    {{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd']  }}</a>
                                            {% endif %}
                                        {% else %}
                                            {% if  nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] == 0%}
                                            {% else %}
                                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                                    {{ nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] }}</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {% if  nbBlbyfile[file['idfile']]['nbBl'] is defined %}
                                        {% if ( nbTrByFile[file['idfile']] - nbBlbyfile[file['idfile']]['nbBl']) >= 0 %}
                                            {% if  nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] == 0 %}
                                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                                    {{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] }}</a>
                                            {% else %}
                                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                                    {{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd']  }}</a>
                                            {% endif %}
                                        {% else %}
                                            {% if  nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] == 0%}
                                            {% else %}
                                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                                    {{ nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] }}</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </a>
                        {% endif %}
                    {% else %}
                        {% if nbTrByFile[file['idfile']] and nbBlbyfile[file['idfile']]['nbBl'] is defined  and retention == 1 %}
                            {% if nbBlbyfile[file['idfile']]['nbBl'] and nbBlbyfile[file['idfile']]['flagXport'] is defined %}
                                {% if   nbTrByFile[file['idfile']] - nbBlbyfile[file['idfile']]['nbBl'] - nbBlbyfile[file['idfile']]['flagXport'] == 0 %}
                                    <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                        {{ nbBlbyfile[file['idfile']]['nbBl'] }}</a>
                                {% else %}
                                    <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                        {{ nbTrByFile[file['idfile']] - nbBlbyfile[file['idfile']]['nbBl'] - nbBlbyfile[file['idfile']]['flagXport'] }}</a>
                                {% endif %}
                            {% else %}
                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                    {{ nbTrByFile[file['idfile']] }}</a>
                            {% endif %}
                        {% else %}
                            {% if nbBlbyfile[file['idfile']]['nbBl'] is defined and nbTrByFile[file['idfile']] - nbBlbyfile[file['idfile']]['nbBl'] == 0 %}
                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                    {{  nbBlbyfile[file['idfile']]['nbBl']   }}</a>
                            {% else %}
                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                    {{  nbTrByFile[file['idfile']]   }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            {% endif %}
            {% if retention == 1 %}
                <td>
                    {% if nbBlbyfile[file['idfile']]['flagXport'] is defined %}{{ nbBlbyfile[file['idfile']]['flagXport'] }}{%  endif %}
                </td>
            {% endif %}
            {% if tagArticle %}
                {% set totalArticle = 0 %}
                {% set recla = 0 %}
                {% if nbBlbyfile[file['idfile']]['articles'] is defined %}
                    {% for k,v in nbBlbyfile[file['idfile']]['articles'][0] %}
                        {% set totalArticle =  totalArticle + v %}
                        {% set nk = k|replace({'é' :'e'}) %}
                    {% endfor %}
                    <td>{{ totalArticle }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            {% endif %}
            {% if nbBlbyfile[file['idfile']]['articlesReclamation'] is defined %}
                <td style="color: brown;">{{ nbBlbyfile[file['idfile']]['articlesReclamation'] }}</td>
            {% elseif  Colrecla %}
                <td></td>
            {% else %}
            {% endif %}
            <td style="width: 122px;">{% if nbBlByFileProd[file['idfile']]['minProd'] is defined %}
                    {{ nbBlByFileProd[file['idfile']]['minProd']|date("d/m/Y H:i") }}
                {%  else %}
                    Non renseigné
                {% endif %}
            </td>
            <td style="width: 122px;">{% if nbBlbyfile[file['idfile']]['dateMaxProd'] is defined %}
                    {% if nbBlbyfile[file['idfile']]['dateMaxProd'] != '0000-00-00 00:00:00' %}
                        {{ nbBlbyfile[file['idfile']]['dateMaxProd']|date("d/m/Y H:i")  }}
                    {% else %}
                        Non renseigné
                    {% endif %}
                {% else %}
                    Non renseigné
                {% endif %}

            </td>
            <td>{% if nbBlbyfile[file['idfile']]['nbBl'] is defined %}{{ nbBlbyfile[file['idfile']]['sitexp']  }}{%  endif %}</td>

            {% if nbBlbyfile[file['idfile']]['transport'] is defined %}
                {%  for key, ligne in nbBlbyfile[file['idfile']]['transport']  %}
                    <td>{% if ligne == 0 %}{% else %}{{ ligne }}{% endif %}</td>
                {% endfor %}
            {% endif %}


        </tr>
        <tr >
            <td colspan="{{ nbColonne +9 +TypeTransport|length}}" class="toggleable" id="afficherProfile{{ file['idfile'] }}" style="font-family: initial;font-size: 0.7em;">
                {#<a href="{{ path('tmd_prod_test', {'idFile': file['idfile']}) }}" class="btn btn-success btn-xs" role="button">Export</a>#}
            </td>
        </tr>

        <tr >
            <td colspan="{{ nbColonne +9 +TypeTransport|length}}" class="toggleableFile" id="afficherProfileFile{{ file['idfile'] }}" style="font-family: initial;font-size: 0.7em;">

            </td>
        </tr>
    {% endfor %}
</table>


