
{% set ISdeleteBL = 0 %}


<table class="table table-bordered table-striped tableSynthese " style="text-align: center;">
    <div id="suppArticle" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="width: 12%;padding: 7px;margin: 19% auto;">
            <div style="text-align: right;"><a href="#"><span class="closesupp">&times;</span></a></div>
            <div id="modalSuppContenu"></div>
        </div>
    </div>
    <tr class="active">

<table class="table table-bordered table-striped tableSynthese " style="text-align: center;" id="tableProdFichier">
<thead>
    <tr >

        <th colspan="3" style="text-align: center;padding-bottom: 0px;">Fichiers réceptionnés</th>
        <th colspan="{{ nbColonne +4 }}" style="text-align: center;padding-bottom: 0px;">Production</th>
        <th style="text-align: center;padding-bottom: 0px;">Sites</th>
        <th style="text-align: center;padding-bottom: 0px;" colspan="{{ TypeTransport|length+1 }}">Transport</th>
    </tr>
    <tr style="background-color: #DFD8DF;border-bottom: 2px solid #504A62;font-size: .9em;">
        <th style="text-align: center;padding-bottom: 0px;">Date Fichier</th>
        <th style="text-align: center;padding-bottom: 0px;">Nom Fichier</th>
        {#old#}
        {#<th style="text-align: center;padding-bottom: 0px;">Total Cdes</th>#}
        {#<th style="text-align: center;padding-bottom: 0px;">Bl créés</th>#}
        {#old#}
        <th style="text-align: center;padding-bottom: 0px;">Total Cdes</th>
        <th style="text-align: center;padding-bottom: 0px;">Bl produits</th>
        <th style="text-align: center;padding-bottom: 0px;">Attente PROD</th>
        {% if retention == 1 %}
            <th style="text-align: center;padding-bottom: 0px;">Retention</th>
        {% endif %}
        {% if rupture == 1 %}
            <th style="text-align: center;padding-bottom: 0px;">Rupture</th>
        {% endif %}
        {% if tagArticle == 1 %}
            <th style="text-align: center;padding-bottom: 0px;">Articles</th>
        {% endif %}
        {% if Colrecla == 1 %}
            <th style="text-align: center;padding-bottom: 0px;">Cmd Recla</th>
        {% endif %}
        <th style="text-align: center;padding-bottom: 0px;">Date depôt</th>
        <th style="text-align: center;padding-bottom: 0px;">PremièrePROD</th>
        <th style="text-align: center;padding-bottom: 0px;">Dernière PROD</th>
        <th style="text-align: center;padding-bottom: 0px;"></th>
        {%  for trans in TypeTransport  %}

            <th style="text-align: center;padding-bottom: 0px;">{{ trans['typeTransport'] }}</th>
        {% endfor %}
    </tr>

    {% for file in files %}

        {% set nbRuturenyBL = 0 %}
        {% if tabsyntheseStatut[file['idfile']] is defined %}
            {% for tabS in tabsyntheseStatut[file['idfile']] %}
                {% for key,donn in tabS %}
                    {% if key == 10 %}
                        {% set nbRuturenyBL = donn %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}

        {% set nbdeleteBL = 0 %}
        {% if tabsyntheseStatut[file['idfile']] is defined %}
            {% for tabS in tabsyntheseStatut[file['idfile']] %}
                {% for key,del in tabS %}
                    {% if key == 9 %}
                        {% set nbdeleteBL = del %}
                        {% set ISdeleteBL = 1 %}

                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}


        <tr style="padding: 0 5px 0 9px;">
            <td>{{ file['dateFile']|date("d/m/Y") }}</td>
            <td style="text-align: left;"> <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilFile tableToggleButton" data-toggle="collapse" style="color: #333;margin-right: 5px;" >
                    {{ file['filename']   }} </a>

            </td>
            {#old#}
            {#{%  if  nbBlbyfile[file['idfile']]['nbBl'] is defined and nbBlByFileProd[file['idfile']]['totProd'] is defined and nbTrByFile[file['idfile']] == nbBlbyfile[file['idfile']]['nbBl'] and nbBlbyfile[file['idfile']]['nbBl'] == nbBlByFileProd[file['idfile']]['totProd']   %}#}
                {#<td colspan="3" style="vertical-align: inherit;"><div style="background-color: #b3d6c2;font-size: 1.2em;">{{ nbBlByFileProd[file['idfile']]['totProd'] }}</div></td>#}
                {#<td></td>#}
            {#{%  elseif  nbBlbyfile[file['idfile']]['nbBl'] is defined and nbBlByFileProd[file['idfile']]['totProd'] is defined and nbBlByFileProd[file['idfile']]['totProd'] > nbTrByFile[file['idfile']] and nbBlByFileProd[file['idfile']]['totProd'] == nbBlbyfile[file['idfile']]['nbBl'] %}#}
                {#<td style="vertical-align: inherit;"><div style="background-color: #b3d6c2;font-size: 1.2em;width: 150%"><span style="margin-left: -28px;" >{{ nbTrByFile[file['idfile']] }}</span></div></td>#}
                {#<td colspan="2" style="vertical-align: inherit;"><div style="background-color: #b3d6c2;font-size: 1.2em;">{{ nbBlByFileProd[file['idfile']]['totProd'] }}</div></td>#}
                {#<td></td>#}
            {#{% else %}#}
                {#{% if nbBlbyfile[file['idfile']]['nbBl'] is defined %}#}
                    {#{% if nbTrByFile[file['idfile']] != nbBlbyfile[file['idfile']]['nbBl'] %}#}
                        {#<td style="vertical-align: inherit;font-size: 1.2em;">{{ nbTrByFile[file['idfile']] }}</td>#}
                        {#<td {% if nbBlbyfile[file['idfile']]['nbBl'] is defined %}{% if nbTrByFile[file['idfile']] != nbBlbyfile[file['idfile']]['nbBl'] %} {% if nbTrByFile[file['idfile']]|number_format < nbBlbyfile[file['idfile']]['nbBl'] %} class="danger" {% endif %} {% endif %}{% endif %}style="vertical-align: inherit;font-size: 1.2em;">{% if nbBlbyfile[file['idfile']]['nbBl'] is defined %}{{ nbBlbyfile[file['idfile']]['nbBl'] }}{% else %}{% endif %}</td>#}
                    {#{% else %}#}
                        {#<td colspan="2" style="vertical-align: inherit;"><div style="background-color: #D34026;color: white;font-size: 1.2em;">{{ nbTrByFile[file['idfile']] }}</div></td>#}
                    {#{% endif %}#}
                {#{% else %}#}
                    {#<td style="vertical-align: inherit;font-size: 1.2em;">{{ nbTrByFile[file['idfile']] }}</td>#}
                    {#<td {% if nbBlbyfile[file['idfile']]['nbBl'] is defined %}#}
                            {#{% if nbTrByFile[file['idfile']] != nbBlbyfile[file['idfile']]['nbBl'] %}  class="danger"#}
                            {#{% endif %}#}
                        {#{% endif %}#}
                            {#style="vertical-align: inherit;font-size: 1.2em;">#}
                        {#{% if nbBlbyfile[file['idfile']]['nbBl'] is defined %}#}
                            {#{{ nbBlbyfile[file['idfile']]['nbBl'] }}#}
                        {#{% else %}#}
                        {#{% endif %}</td>#}
                {#{% endif %}#}
                {#<td  style="vertical-align: inherit;font-size: 1.2em;">{% if nbBlByFileProd[file['idfile']]['totProd'] is defined %}{{ nbBlByFileProd[file['idfile']]['totProd'] }}{% endif %}</td>#}
                {#<td>#}
                    {#{% if nbBlByFileProd[file['idfile']]['totProd'] is defined %}#}
                        {#{%  if   (nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd']) != 0 %}#}
                            {#<a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class=" ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">#}
                                {#{% if retention == 1 %}#}
                                    {#{% if nbBlbyfile[file['idfile']]['flagXport'] is defined %}#}
                                        {#{% if  (nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] - nbBlbyfile[file['idfile']]['flagXport']) == 0 %}#}
                                        {#{% else %}#}
                                            {#{{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] - nbBlbyfile[file['idfile']]['flagXport'] }}#}
                                        {#{% endif %}#}
                                    {#{% else %}#}
                                        {#{% if ( nbTrByFile[file['idfile']] - nbBlbyfile[file['idfile']]['nbBl']) >= 0 %}#}
                                            {#{% if  nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] == 0 %}#}
                                                {#<a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">#}
                                                    {#{{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] }}</a>#}
                                            {#{% else %}#}
                                                {#<a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">#}
                                                    {#{{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd']  }}</a>#}
                                            {#{% endif %}#}
                                        {#{% else %}#}
                                            {#{% if  nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] == 0%}#}
                                            {#{% else %}#}
                                                {#<a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">#}
                                                    {#{{ nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] }}</a>#}
                                            {#{% endif %}#}
                                        {#{% endif %}#}
                                    {#{% endif %}#}
                                {#{% else %}#}
                                    {#{% if  nbBlbyfile[file['idfile']]['nbBl'] is defined %}#}
                                        {#{% if ( nbTrByFile[file['idfile']] - nbBlbyfile[file['idfile']]['nbBl']) >= 0 %}#}
                                            {#{% if  nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] == 0 %}#}
                                                {#<a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">#}
                                                    {#{% if nbRuturenyBL > 0 %}#}
                                                        {#{% if nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] - nbRuturenyBL == 0 %}#}
                                                        {#{% else %}#}
                                                            {#{{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] - nbRuturenyBL }}#}
                                                        {#{% endif %}#}
                                                    {#{% else %}#}
                                                        {#{{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] }}#}
                                                    {#{% endif %}</a>#}
                                            {#{% else %}#}
                                                {#<a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">#}
                                                    {#{% if nbRuturenyBL > 0 %}#}
                                                        {#{% if nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd']  - nbRuturenyBL == 0 %}#}
                                                        {#{% else %}#}
                                                            {#{{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd']  - nbRuturenyBL }}#}
                                                        {#{% endif %}#}
                                                    {#{% else %}#}
                                                        {#{{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd']  }}#}
                                                    {#{% endif %}</a>#}
                                            {#{% endif %}#}
                                        {#{% else %}#}
                                            {#{% if  nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] == 0%}#}
                                            {#{% else %}#}
                                                {#<a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">#}
                                                    {#{{ nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] }}</a>#}
                                            {#{% endif %}#}
                                        {#{% endif %}#}
                                    {#{% endif %}#}
                                {#{% endif %}#}
                            {#</a>#}
                        {#{% endif %}#}
                    {#{% else %}#}
                        {#{% if nbTrByFile[file['idfile']] and nbBlbyfile[file['idfile']]['nbBl'] is defined  and retention == 1 %}#}
                            {#{% if nbBlbyfile[file['idfile']]['nbBl'] and nbBlbyfile[file['idfile']]['flagXport'] is defined %}#}
                                {#{% if   nbTrByFile[file['idfile']] - nbBlbyfile[file['idfile']]['nbBl'] - nbBlbyfile[file['idfile']]['flagXport'] == 0 %}#}
                                    {#<a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">#}
                                        {#{{ nbBlbyfile[file['idfile']]['nbBl'] }}</a>#}
                                {#{% else %}#}
                                    {#<a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">#}
                                        {#{{ nbTrByFile[file['idfile']] - nbBlbyfile[file['idfile']]['nbBl'] - nbBlbyfile[file['idfile']]['flagXport'] }}</a>#}
                                {#{% endif %}#}
                            {#{% else %}#}
                                {#<a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">#}
                                    {#{{ nbTrByFile[file['idfile']] }}</a>#}
                            {#{% endif %}#}
                        {#{% else %}#}
                            {#{% if nbBlbyfile[file['idfile']]['nbBl'] is defined and nbTrByFile[file['idfile']] - nbBlbyfile[file['idfile']]['nbBl'] == 0 %}#}
                                {#<a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">#}
                                    {#{{  nbBlbyfile[file['idfile']]['nbBl']   }}</a>#}
                            {#{% else %}#}
                                {#<a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">#}
                                    {#{{  nbTrByFile[file['idfile']]   }}</a>#}
                            {#{% endif %}#}
                        {#{% endif %}#}
                    {#{% endif %}#}
                {#</td>#}
            {#{% endif %}#}
            {#old#}

            {#old#}{#{{ nbBlbyfile[file['idfile']]['nbBl'] }}#}
        {% if nbTrByFile[file['idfile']] == nbdeleteBL and nbBlByFileProd[file['idfile']]['totProd'] is not defined %}
            <td colspan="2" style="vertical-align: inherit;"><div style="background-color: #b3d6c2;font-size: 1.2em;position: relative;">{{ nbTrByFile[file['idfile']] }}</div></td>
            <td></td>

            {%  elseif  nbBlByFileProd[file['idfile']]['totProd'] is defined and nbTrByFile[file['idfile']]  == nbBlByFileProd[file['idfile']]['totProd']   %}
                <td colspan="2" style="vertical-align: inherit;"><div style="background-color: #b3d6c2;font-size: 1.2em;position: relative;">{{ nbBlByFileProd[file['idfile']]['totProd'] }}</div></td>
                 <td></td>
            {%  elseif  nbBlByFileProd[file['idfile']]['totProd'] is defined and nbBlByFileProd[file['idfile']]['totProd'] > nbTrByFile[file['idfile']] and nbBlByFileProd[file['idfile']]['totProd'] - nbBlbyfile[file['idfile']]['nbBl']  == 0 %}
                <td style="vertical-align: inherit;"><div style="background-color: #b3d6c2;font-size: 1.2em;width: 150%"><span style="margin-left: -28px;" >{{ nbTrByFile[file['idfile']] }}</span></div></td>
                <td  style="vertical-align: inherit;"><div style="background-color: #b3d6c2;font-size: 1.2em;">{{ nbBlByFileProd[file['idfile']]['totProd'] }}</div></td>
                <td></td>
            {%  elseif  nbBlByFileProd[file['idfile']]['totProd'] is defined and nbRuturenyBL == 0   and nbBlByFileProd[file['idfile']]['totProd'] - nbTrByFile[file['idfile']] + nbdeleteBL  == 0 and nbdeleteBL > 0 %}
                <td style="vertical-align: inherit;"><div style="background-color: #b3d6c2;font-size: 1.2em;width: 150%;position: relative;"><span style="margin-left: -28px;" >{{ nbTrByFile[file['idfile']] }}</span>{% if nbdeleteBL > 0 %}<span style="position: absolute;top: 0;color: #D34026;padding-left: 10px;font-size: 10px;padding: initial;margin-top: -2px;" onclick="donnesuppBl({{ nbdeleteBL }})">({{ nbdeleteBL }})</span>{% endif %}</div></td>
                <td  style="vertical-align: inherit;"><div style="background-color: #b3d6c2;font-size: 1.2em;">{{ nbBlByFileProd[file['idfile']]['totProd'] }}</div></td>
                <td></td>
            {% else %}

                {#{% if nbBlbyfile[file['idfile']]['nbBl'] is defined %}#}
                    {#{% if nbTrByFile[file['idfile']] != nbBlbyfile[file['idfile']]['nbBl'] %}#}
                        {#<td style="vertical-align: inherit;font-size: 1.2em;">{{ nbTrByFile[file['idfile']] }}</td>#}
                        {#<td {% if nbBlbyfile[file['idfile']]['nbBl'] is defined %}{% if nbTrByFile[file['idfile']] != nbBlbyfile[file['idfile']]['nbBl'] %} {% if nbTrByFile[file['idfile']]|number_format < nbBlbyfile[file['idfile']]['nbBl'] %} class="danger" {% endif %} {% endif %}{% endif %}style="vertical-align: inherit;font-size: 1.2em;">{% if nbBlbyfile[file['idfile']]['nbBl'] is defined %}{{ nbBlbyfile[file['idfile']]['nbBl'] }}{% else %}{% endif %}</td>#}
                    {#{% else %}#}
                        {#<td colspan="2" style="vertical-align: inherit;"><div style="background-color: #D34026;color: white;font-size: 1.2em;">{{ nbTrByFile[file['idfile']] }}</div></td>#}
                    {#{% endif %}#}
                {#{% else %}#}
                    {#<td style="vertical-align: inherit;font-size: 1.2em;">{{ nbTrByFile[file['idfile']] }}</td>#}
                    {#<td {% if nbBlbyfile[file['idfile']]['nbBl'] is defined %}#}
                        {#{% if nbTrByFile[file['idfile']] != nbBlbyfile[file['idfile']]['nbBl'] %}  class="danger"#}
                        {#{% endif %}#}
                    {#{% endif %}#}
                            {#style="vertical-align: inherit;font-size: 1.2em;">#}
                        {#{% if nbBlbyfile[file['idfile']]['nbBl'] is defined %}#}
                            {#{{ nbBlbyfile[file['idfile']]['nbBl'] }}#}
                        {#{% else %}#}
                        {#{% endif %}</td>#}
                {#{% endif %}#}
                <td  style="vertical-align: inherit;"><div style="font-size: 1.2em;position: relative;">{{ nbTrByFile[file['idfile']] }}{% if nbdeleteBL > 0 %}<span style="position: absolute;top: 0;color: #D34026;padding-left: 10px;font-size: 10px;padding: initial;margin-top: -2px;right: 0;" onclick="donnesuppBl({{ nbdeleteBL }})">({{ nbdeleteBL }})</span>{% endif %}</div></td>
                <td  style="vertical-align: inherit;font-size: 1.2em;">{% if nbBlByFileProd[file['idfile']]['totProd'] is defined %}{{ nbBlByFileProd[file['idfile']]['totProd']  }}{% endif %}</td>
                <td>
                    {% if nbBlByFileProd[file['idfile']]['totProd'] is defined %}
                        {%  if   (nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd']) != 0 %}
                            <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class=" ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                {% if retention == 1 %}
                                    {% if nbBlbyfile[file['idfile']]['flagXport'] is defined %}
                                        {% if  (nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] - nbBlbyfile[file['idfile']]['flagXport']) == 0 %}
                                        {% else %}
                                            {{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] - nbBlbyfile[file['idfile']]['flagXport'] }}
                                        {% endif %}
                                    {% else %}
                                        {% if ( nbTrByFile[file['idfile']] - nbBlbyfile[file['idfile']]['nbBl']) >= 0 %}
                                            {% if  nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] == 0 %}
                                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                                    {{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] - nbdeleteBL }}</a>
                                            {% else %}
                                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                                    {{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] - nbdeleteBL }}</a>
                                            {% endif %}
                                        {% else %}
                                            {% if  nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] == 0%}
                                            {% else %}
                                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                                    {{ nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] }}</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {% if  nbBlbyfile[file['idfile']]['nbBl'] is defined %}
                                        {% if ( nbTrByFile[file['idfile']] - nbBlbyfile[file['idfile']]['nbBl']) >= 0 %}
                                            {% if  nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] == 0 %}
                                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                                    {% if nbRuturenyBL > 0 %}
                                                        {% if nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd']  - nbdeleteBL - nbRuturenyBL == 0 %}
                                                        {% else %}
                                                            {{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] - nbRuturenyBL - nbdeleteBL }}
                                                        {% endif %}
                                                    {% else %}
                                                        {{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] }}
                                                    {% endif %}</a>
                                            {% else %}
                                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                                    {% if nbRuturenyBL > 0 %}
                                                        {% if nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] - nbdeleteBL - nbRuturenyBL == 0 %}
                                                        {% else %}
                                                            {{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] - nbdeleteBL  - nbRuturenyBL }}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] - nbdeleteBL == 0 %}
                                                            {% else %}
                                                        {{ nbTrByFile[file['idfile']] - nbBlByFileProd[file['idfile']]['totProd'] - nbdeleteBL }}
                                                            {% endif %}
                                                    {% endif %}</a>
                                            {% endif %}
                                        {% else %}
                                            {% if  nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] == 0%}
                                            {% else %}
                                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                                    {{ nbBlbyfile[file['idfile']]['nbBl'] - nbBlByFileProd[file['idfile']]['totProd'] }}</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </a>
                        {% endif %}
                    {% else %}
                        {% if nbTrByFile[file['idfile']] and nbBlbyfile[file['idfile']]['nbBl'] is defined  and retention == 1 %}
                            {% if nbBlbyfile[file['idfile']]['nbBl'] and nbBlbyfile[file['idfile']]['flagXport'] is defined %}
                                {% if   nbTrByFile[file['idfile']] - nbBlbyfile[file['idfile']]['nbBl'] - nbBlbyfile[file['idfile']]['flagXport'] == 0 %}
                                    <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                        {{ nbBlbyfile[file['idfile']]['nbBl'] }}</a>
                                {% else %}
                                    <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                        {{ nbTrByFile[file['idfile']] - nbBlbyfile[file['idfile']]['nbBl'] - nbBlbyfile[file['idfile']]['flagXport'] }}</a>
                                {% endif %}
                            {% else %}
                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                    {{ nbTrByFile[file['idfile']] }}</a>
                            {% endif %}
                        {% else %}
                            {% if nbBlbyfile[file['idfile']]['nbBl'] is defined and nbTrByFile[file['idfile']] - nbBlbyfile[file['idfile']]['nbBl'] == 0 %}
                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                    {{  nbBlbyfile[file['idfile']]['nbBl']   }}</a>
                            {% else %}
                                <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}" class="  ProfilMini tableToggleButton" data-toggle="collapse"  style="color: brown;font-size: 1.2em;">
                                    {{  nbTrByFile[file['idfile']] -nbRuturenyBL  - nbdeleteBL }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            {% endif %}
            {#old#}

            {% if retention == 1 %}
                <td>
                    {% if nbBlbyfile[file['idfile']]['flagXport'] is defined %}{{ nbBlbyfile[file['idfile']]['flagXport'] }}{%  endif %}
                </td>
            {% endif %}
            {% if rupture == 1 %}
                <td >
                    {% if nbRuturenyBL > 0 %}
                        <div style = "background-color:  #D34026;"><a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}"  class="ProfilRupture tableToggleButton" data-toggle="collapse"  style="color: white;">{{ nbRuturenyBL }}</a></div>
                    {% endif %}

                </td>
            {% endif %}
            {% if tagArticle %}
                {% set totalArticle = 0 %}
                {% set recla = 0 %}
                {% if nbBlbyfile[file['idfile']]['articles'][0] is defined %}
                    {% for k,v in nbBlbyfile[file['idfile']]['articles'][0] %}
                        {% set totalArticle =  totalArticle + v %}
                        {% set nk = k|replace({'é' :'e'}) %}
                    {% endfor %}
                    <td>{{ totalArticle }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            {% endif %}
            {% if nbBlbyfile[file['idfile']]['articlesReclamation'] is defined %}
                <td style="color: brown;">{{ nbBlbyfile[file['idfile']]['articlesReclamation'] }}</td>
            {% elseif  Colrecla %}
                <td></td>
            {% else %}
            {% endif %}
            <td>
                {% if nbBLWtihDepotNull[file['idfile']] is defined %}
                    <div style = "">
                        <a  href="#{{ loop.index }}"  id="{{ file['idfile'] }}"  class=" ProfilDepotNull tableToggleButton" data-toggle="collapse"  style="color: white;">
{#                            {{ nbBLWtihDepotNull[file['idfile']] }}#}

                        <img class="img-responsive"  src="{{ asset('Images/PanneauAttention.png') }}" style="padding: 0px;max-width: 17px;margin: auto;"></a>
                    </div>
                    {% elseif (nbBlbyfile[file['idfile']] is defined) %}
                    {{ nbBlbyfile[file['idfile']]['dateDepot']|date("d/m/Y") }}
                    {% else %}
                        {{ '-' }}
                {% endif %}
            </td>
            <td style="width: 122px;">{% if nbBlByFileProd[file['idfile']]['minProd'] is defined %}
                    {{ nbBlByFileProd[file['idfile']]['minProd']|date("d/m/Y H:i") }}
                {%  else %}
                    Non renseigné
                {% endif %}
            </td>
            <td style="width: 122px;">{% if nbBlbyfile[file['idfile']]['dateMaxProd'] is defined %}
                    {% if nbBlbyfile[file['idfile']]['dateMaxProd'] != '0000-00-00 00:00:00' %}
                        {{ nbBlbyfile[file['idfile']]['dateMaxProd']|date("d/m/Y H:i")  }}
                    {% else %}
                        Non renseigné
                    {% endif %}
                {% else %}
                    Non renseigné
                {% endif %}

            </td>
            <td>{% if nbBlbyfile[file['idfile']]['nbBl'] is defined %}{{ nbBlbyfile[file['idfile']]['sitexp']  }}{%  endif %}</td>

            {% if nbBlbyfile[file['idfile']]['transport'] is defined %}
                {%  for key, ligne in nbBlbyfile[file['idfile']]['transport']  %}
                    <td>{% if ligne == 0 %}{% else %}{{ ligne }}{% endif %}</td>
                {% endfor %}
            {% endif %}


        </tr>
        <tr >
            <td colspan="{{ nbColonne +9 +TypeTransport|length}}" class="toggleable" id="afficherProfile{{ file['idfile'] }}" style="font-family: initial;font-size: 0.7em;">
                {#<a href="{{ path('tmd_prod_test', {'idFile': file['idfile']}) }}" class="btn btn-success btn-xs" role="button">Export</a>#}
            </td>
        </tr>

        <tr >
            <td colspan="{{ nbColonne +9 +TypeTransport|length}}" class="toggleableFile" id="afficherProfileFile{{ file['idfile'] }}" style="font-family: initial;font-size: 0.7em;">

            </td>
        </tr>

        <tr >
            <td colspan="{{ nbColonne +9 +TypeTransport|length}}" class="toggleableRupture" id="afficherProfileRupture{{ file['idfile'] }}" style="font-family: initial;font-size: 0.7em;">

            </td>
        </tr>

        <tr >
            <td colspan="{{ nbColonne +9 +TypeTransport|length}}" class="toggleableDepotNull" id="afficherProfileDepotNull{{ file['idfile'] }}" style="font-family: initial;font-size: 0.7em;">

            </td>
        </tr>
    {% endfor %}
</table>

    {% if ISdeleteBL > 0 %}
        <div style="color: #D34026;font-size: 18px;margin-top: -16px;margin-left: 11px;margin-bottom: 22px;">(*) <span style="font-size: 0.7em;color: #333;">: dont ( x ) commandes annulées.</span></div>
    {% endif %}

{% block javascriptsPlus %}
    <script type="text/javascript">


        function donnesuppBl(numBl){

//
//                        if (numBl > 1){
//                            var html = numBl +' BLs annulés'
//                        }else{
//                            var html = numBl +' BL annulé'
//                        }
//
//
//                        $("#modalSuppContenu").html(html);
//
//
//                    var modal = document.getElementById('suppArticle');
//                    var span = document.getElementsByClassName("closesupp")[0];
//                    window.onclick = function(event) {
//                        if (event.target === modal) {
//                            modal.style.display = "none";
//                        }
//                    }
//                    span.onclick = function() {
//                        modal.style.display = "none";
//                    }
//
//                            modal.style.display = "block";



        }


    </script>

    {#modal article#}
    <script>




    </script>
{% endblock %}