{% extends "TMDCoreBundle::index.html.twig" %}

{% block title %}
    Préfacturation
{% endblock %}
{% block body %}
    <h3 style="border-bottom: #504a62 2px solid; padding-bottom: 20px; width: 40%">{{ client.nomclient }} - Préfacturation pour {{ month }}</h3>

    <div class="title">
        {% if logo is defined %}

            <div style="z-index: 0;">
                <img class="img-responsive"  src="data:image/jpg;base64,{{ logo}}" style="padding: 0px;max-width: 150px;opacity: 0.8"></a>
            </div>
        {% endif %}
    </div>


    <div>
        {% dump(month) %}


        <div class="wrapper">
            <a id="lienPdf" href="{{ path('tmd_prod_pdf', {'idClient': client.idclient, 'idOpe':appli.idappli, 'thisdate':date}) }}"><span>Exporter vers Pdf</span></a>
        </div>





        {#    <a href="{{ path('tmd_prod_pdf', {'idClient': client.idclient, 'idOpe':appli.idappli, 'thisdate':date}) }}"><button id="cmd" >Exporter en Pdf</button></a>#}

        <div class="container" id="mesTableaux" style="width: 100%; margin-top: 20px">
            {% if (idclient == '713') %}
                <div class="row" style="display: flex; justify-content: space-between;align-items: center; margin-bottom: 50px; padding-bottom: 15px">
                    <div class="col-md-3 divTable" id="tableau1">
                        <h4>Colis selon le mode de Transport</h4>
                        <table class="table display compact " id="table1" style="font-size: 12px;padding: 10px;width: 95%" id="table1" >
                            <thead style="font-weight: bold;">
                            <tr>
                                <th>Type de transport</th>
                                <th>Nombre de commandes VPC</th>
                                <th>Nombre de commandes PRIME</th>
                                <th>TOTAL</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, value in nbreTypeTransport %}
                                {% if key != "total" %}
                                    <tr style="border-bottom: 1px solid #606060" >
                                        <td >{{ key }}</td><td >{{ nbreTypeTransport[key]['VPC'] }}</td><td>{{ nbreTypeTransport[key]['PRIME'] }}</td><td>{{ nbreTypeTransport[key]['VPC'] + nbreTypeTransport[key]['PRIME'] }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            <tr class="success" style="font-weight: bold; border: black 1px solid;">
                                <td>TOTAL</td><td>{{ nbreTypeTransport['total']['VPC']}}</td><td>{{ nbreTypeTransport['total']['PRIME']}}</td><td style="text-align: right;border-width: 1px;">{{ totalBl }}</td></tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3 divTable">
                        <h4>Emballages</h4>
                        <table class="table " id="table2" style="font-size: 12px; padding: 10px">
                            <thead>
                            <tr>
                                <th>Type d'emballage</th><th>Nombre de colis VPC</th><th>Nombre de colis PRIME</th><th>TOTAL</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, value in colis %}
                                <tr>
                                    <td>{{ key }}</td><td>{{ colis[key]['VPC'] }}</td><td>{{ colis[key]['PRIME'] }}</td><td>{{ colis[key]['VPC'] + colis[key]['PRIME'] }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="success" style="font-weight: bold">
                                <td>TOTAL</td><td>{{ totalColis['VPC'] }}</td><td>{{ totalColis['PRIME'] }}</td><td>{{ totalColis['VPC'] + totalColis['PRIME'] }}</td>
                            </tr>>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3 divTable">
                        <h4>Total des Articles</h4>

                        <table class="table display compact" id="table3" style="font-size: 12px; padding: 10px">
                            <thead>
                            <tr>
                                <th></th><th>Nombre d'Articles VPC</th><th>Nombre d'Articles PRIME</th><th>TOTAL</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>Nombre d'articles</td><td>{{ totalArticles['VPC'] }}</td><td>{{ totalArticles['PRIME'] }}</td><td>{{ totalArticles['VPC'] + totalArticles['PRIME'] }}</td>
                            </tr>

                            <tr>
                                <td>Articles Supp</td><td>{{ totalArticles['VPC'] - nbreTypeTransport['total']['VPC'] }}</td><td>{{ totalArticles['PRIME'] - nbreTypeTransport['total']['PRIME'] }}</td><td>{{ (totalArticles['VPC'] - nbreTypeTransport['total']['VPC'] ) + (totalArticles['PRIME'] - nbreTypeTransport['total']['PRIME']) }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div  id="divTableaux" style="margin: 10px auto 0 auto; display: flex;flex-wrap: wrap;justify-content: space-between; width: 100%;text-align: center;">
                    {% for key, value in tranches %}

                        {% if tranches[key]|length > 2 %}

                            <div class="col-25 divTable"  style="width:45%;margin-left: 20px;margin-right: 20px; ">
                                <h4>Colis expédiés en {{ key }}</h4>
                                <table class="table display compact tableTransport" style="margin: 10px; width: 96%" id="table{{ key }}" >
                                    <thead>
                                    <tr>
                                        <th style="font-weight: bold">Tranche de poids en g</th><th colspan="2" style="font-weight: bold">Commandes VPC</th><th colspan="2" style="font-weight: bold">Commandes PRIME</th>
                                    </tr>
                                    <tr>
                                        <th></th><th style="font-weight: bold; font-style: italic">nbre colis</th><th style="font-weight: bold; font-style: italic">montant en €</th><th style="font-weight: bold; font-style: italic">nbre colis</th><th style="font-weight: bold; font-style: italic" >montant en €</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for tr in tranches[key]  %}
                                        {% if (tr['idTransportTranches'] is defined) %}
                                            {% if (tr['PRIME']['nombreBl'] != 0) or (tr['VPC']['nombreBl'] != 0) %}
                                                <tr>
                                                    {% if (tr['PRIME']['tarif'] is defined ) or (tr['VPC']['tarif'] is defined) %}
                                                        <td>{{ tr['poidsMax'] }}</td><td>{{ tr['VPC']['nombreBl']}}</td><td>{{ tr['VPC']['tarif'] }}</td><td>{{ tr['PRIME']['nombreBl'] }}</td><td>{{ tr['PRIME']['tarif'] }}</td>
                                                    {% else %}
                                                        <td>{{ tr['poidsMax'] }}</td><td>{{ tr['VPC']['nombreBl']}}</td><td>no tarif</td><td>{{ tr['PRIME']['nombreBl'] }}</td><td>no tarif</td>
                                                    {% endif %}
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <tr class="success" style="font-weight: bold">
                                        <td style="font-weight: bold">Total</td><td>{{ tranches[key]['totalBl']['VPC'] }}</td><td>{{ tranches[key]['totalTarif']['VPC'] }}</td><td>{{ tranches[key]['totalBl']['PRIME'] }}</td><td>{{ tranches[key]['totalTarif']['PRIME'] }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        {% endif %}
                    {% endfor %}
                </div>
            {% elseif (idclient == '712') %}
                <div class="row" style="display: flex; justify-content: space-between;align-items: center; margin-bottom: 50px; padding-bottom: 15px">
                    <div class="col-md-3 divTable" id="tableau1">
                        <h4>Colis selon le mode de Transport</h4>
                        <table class="table display compact " id="table1" style="font-size: 12px;padding: 10px;width: 95%" id="table1" >
                            <thead style="font-weight: bold;">
                            <tr>
                                <th>Type de transport</th>
                                <th>Nombre de commandes VPC</th>
                                <th>Nombre de commandes PRIME</th>
                                <th>Nombre de commandes REASSORT</th>
                                <th>TOTAL</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, value in nbreTypeTransport %}
                                {% if key != "total" %}
                                    <tr style="border-bottom: 1px solid #606060" >
                                        <td >{{ key }}</td><td >{{ nbreTypeTransport[key]['VPC'] }}</td><td>{{ nbreTypeTransport[key]['PRIME'] }}</td><td>{{ nbreTypeTransport[key]['REASSORT'] }}</td><td>{{ nbreTypeTransport[key]['VPC'] +nbreTypeTransport[key]['PRIME']+ nbreTypeTransport[key]['REASSORT'] }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            <tr class="success" style="font-weight: bold; border: black 1px solid;">
                                <td>TOTAL</td><td>{{ nbreTypeTransport['total']['VPC']}}</td><td>{{ nbreTypeTransport['total']['PRIME']}}</td><td>{{ nbreTypeTransport['total']['REASSORT']}}</td><td style="text-align: right;border-width: 1px;">{{ totalBl }}</td></tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3 divTable">
                        <h4>Emballages</h4>
                        <table class="table " id="table2" style="font-size: 12px; padding: 10px">
                            <thead>
                            <tr>
                                <th>Type d'emballage</th><th>Nombre de colis VPC</th><th>Nombre de colis PRIME</th><th>Nombre de colis REASSORT</th><th>TOTAL</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, value in colis %}
                                <tr>
                                    <td>{{ key }}</td><td>{{ colis[key]['VPC'] }}</td><td>{{ colis[key]['PRIME'] }}</td>><td>{{ colis[key]['REASSORT'] }}</td><td>{{ colis[key]['VPC'] + colis[key]['PRIME'] + colis[key]['REASSORT']}}</td>
                                </tr>
                            {% endfor %}
                            <tr class="success" style="font-weight: bold">
                                <td>TOTAL</td><td>{{ totalColis['VPC'] }}</td><td>{{ totalColis['PRIME'] }}</td><td>{{ totalColis['REASSORT'] }}</td><td>{{ totalColis['VPC'] + totalColis['PRIME'] + totalColis['REASSORT']}}</td>
                            </tr>>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3 divTable">
                        <h4>Total des Articles</h4>

                        <table class="table display compact" id="table3" style="font-size: 12px; padding: 10px">
                            <thead>
                            <tr>
                                <th></th><th>Nombre d'Articles VPC</th><th>Nombre d'Articles PRIME</th><th>Nombre d'Articles REASSORT</th><th>TOTAL</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>Nombre d'articles</td><td>{{ totalArticles['VPC'] }}</td><td>{{ totalArticles['PRIME'] }}</td><td>{{ totalArticles['REASSORT'] }}</td><td>{{ totalArticles['VPC'] + totalArticles['PRIME']+ totalArticles['REASSORT'] }}</td>
                            </tr>

                            <tr>
                                <td>Articles Supp</td><td>{{ totalArticles['VPC'] - nbreTypeTransport['total']['VPC'] }}</td><td>{{ totalArticles['PRIME'] - nbreTypeTransport['total']['PRIME'] }}</td><td>{{ totalArticles['REASSORT'] - nbreTypeTransport['total']['REASSORT'] }}</td><td>{{ (totalArticles['VPC'] - nbreTypeTransport['total']['VPC'] ) + (totalArticles['PRIME'] - nbreTypeTransport['total']['PRIME']) +(totalArticles['REASSORT'] - nbreTypeTransport['total']['REASSORT']) }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div  id="divTableaux" style="margin: 10px auto 0 auto; display: flex;flex-wrap: wrap;justify-content: space-between; width: 100%;text-align: center;">
                    {% for key, value in tranches %}

                        {% if tranches[key]|length > 2 %}

                            <div class="col-25 divTable"  style="width:45%;margin-left: 20px;margin-right: 20px; ">
                                <h4>Colis expédiés en {{ key }}</h4>
                                <table class="table display compact tableTransport" style="margin: 10px; width: 96%" id="table{{ key }}" >
                                    <thead>
                                    <tr>
                                        <th style="font-weight: bold">Tranche de poids en g</th><th colspan="2" style="font-weight: bold">Commandes VPC</th><th colspan="2" style="font-weight: bold">Commandes PRIME</th><th colspan="2" style="font-weight: bold">Commandes REASSORT</th>
                                    </tr>
                                    <tr>
                                        <th></th><th style="font-weight: bold; font-style: italic">nbre colis</th><th style="font-weight: bold; font-style: italic">montant en €</th><th style="font-weight: bold; font-style: italic">nbre colis</th><th style="font-weight: bold; font-style: italic" >montant en €</th><th style="font-weight: bold; font-style: italic">nbre colis</th><th style="font-weight: bold; font-style: italic" >montant en €</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for tr in tranches[key]  %}
                                        {% if (tr['idTransportTranches'] is defined) %}
                                            {% if (tr['PRIME']['nombreBl'] != 0) or (tr['VPC']['nombreBl'] != 0) or (tr['REASSORT']['nombreBl'] != 0) %}
                                                <tr>
                                                    {% if (tr['PRIME']['tarif'] is defined ) or (tr['VPC']['tarif'] is defined) or (tr['REASSORT']['tarif'] is defined) %}
                                                        <td>{{ tr['poidsMax'] }}</td><td>{{ tr['VPC']['nombreBl']}}</td><td>{{ tr['VPC']['tarif'] }}</td><td>{{ tr['PRIME']['nombreBl'] }}</td><td>{{ tr['PRIME']['tarif'] }}</td><td>{{ tr['REASSORT']['nombreBl'] }}</td><td>{{ tr['REASSORT']['tarif'] }}</td>
                                                    {% else %}
                                                        <td>{{ tr['poidsMax'] }}</td><td>{{ tr['VPC']['nombreBl']}}</td><td>no tarif</td><td>{{ tr['PRIME']['nombreBl'] }}</td><td>no tarif</td><td>{{ tr['REASSORT']['nombreBl'] }}</td><td>no tarif</td>
                                                    {% endif %}
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <tr class="success" style="font-weight: bold">
                                        <td style="font-weight: bold">Total</td><td>{{ tranches[key]['totalBl']['VPC'] }}</td><td>{{ tranches[key]['totalTarif']['VPC'] }}</td><td>{{ tranches[key]['totalBl']['PRIME'] }}</td><td>{{ tranches[key]['totalTarif']['PRIME'] }}</td><td>{{ tranches[key]['totalBl']['REASSORT'] }}</td><td>{{ tranches[key]['totalTarif']['REASSORT'] }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="row" style="display: flex; justify-content: space-between; border-bottom: 1px black solid; margin-bottom: 50px; padding-bottom: 15px">
                    <div class="col-md-3 divTable" id="tableau1">
                        <h4>Colis selon le mode de Transport</h4>
                        <table class="table display compact " id="table1" style="font-size: 12px;padding: 10px;" id="table1" >
                            <thead style="font-weight: bold;">
                            <tr>
                                <th>Type de transport</th>
                                <th>Nombre de commandes</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, value in nbreTypeTransport %}
                                <tr style="border-bottom: 1px solid #606060" >
                                    <td style="text-align: center;">{{ key }}</td><td style="text-align: right">{{ value }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="success" style="font-weight: bold; border: black 1px solid;"><td style="text-align: center; border-width: 1px;">TOTAL</td><td style="text-align: right;border-width: 1px;">{{ totalBl }}</td></tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <h4>Emballages</h4>

                        <table class="table display compact divTable" id="table2" style="font-size: 12px; padding: 10px">
                            <thead>
                            <tr>
                                <th>Type d'emballage</th><th>Nombre de colis </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, value in colis %}
                                <tr>
                                    <td>{{ key }}</td><td>{{ colis[key] }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="success">
                                <td >TOTAL</td><td>{{ totalColis }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <h4>Total des Articles</h4>

                        <table class="table display compact divTable" id="table3" style="font-size: 12px; padding: 10px">
                            <thead>
                            <tr>
                                <td></td><th>Nombre d'Articles </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>Nombre d'articles</td><td>{{ totalArticles}}</td>
                            </tr>

                            <tr>
                                <td>Articles Supp</td><td>{{ totalArticles - totalBl }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div  id="divTableaux" style="margin: 10px auto 0 auto; display: flex;flex-wrap: wrap;justify-content: space-between; width: 100%;text-align: center;">
                    {% for key, value in tranches %}

                        {% if tranches[key]|length > 2 %}

                            <div class="col-25 divTable"  style="width:45%;margin-left: 20px;margin-right: 20px; ">
                                <h4>Colis expédiés en {{ key }}</h4>
                                <table class="table display compact tableTransport" style="margin: 10px; width: 96%" id="table{{ key }}" >
                                    <thead>
                                    <tr>
                                        <th style="font-weight: bold">Tranche de poids en g</th><th style="font-weight: bold">nombres de commandes </th><td style="font-weight: bold">Tarif</td>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    {% for tr in tranches[key]  %}
                                        {% if (tr['idTransportTranches'] is defined) %}
                                            {% if (tr['nombreBl'] != 0)  %}
                                                <tr>
                                                    {% if (tr['tarif'] is defined ) %}
                                                        <td>{{ tr['poidsMax'] }}</td><td>{{ tr['nombreBl']}}</td><td>{{ tr['tarif'] }}</td>
                                                    {% else %}
                                                        <td>{{ tr['poidsMax'] }}</td><td>{{ tr['nombreBl']}}</td><td>no tarif</td>
                                                    {% endif %}
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <tr class="success" style="font-weight: bold">
                                        <td style="font-weight: bold">Total</td><td>{{ tranches[key]['totalBl'] }}</td><td>{{ tranches[key]['totalTarif'] }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    </div>

    </div>


{% endblock %}

